* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
header {
  background-color: #1f2937;
  padding: 2rem;
}
.header {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 40px;
  height: 40px;
}

.log--header {
  padding-left: 2rem;
}

.nav--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.logo-heading {
  color: #e5e7eb;
  font-size: 24px;
  font-weight: 700;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding-right: 11.3rem;
}

nav a {
  color: #e5e7eb;
  text-decoration: none;
}

h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
  font-family: sans-serif;
}

.description p {
  color: #f9faf8;
}

.btn {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 700;
  border-radius: 8px;
  padding: 8px 30px;
  font-size: 16px;
  cursor: pointer;
}

.btn--header {
  position: absolute;
  margin-top: 2rem;
}

img {
  max-width: 200px;
  height: 120px;
}

.description .image {
  display: flex;
}

.block {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.image {
  max-width: 300px;
  height: 180px;
}
.images--content {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: center;
  padding: 2rem;
}
.images__block h1 {
  color: #1f2937;
  text-align: center;
  padding: 20px;
}
.images--content h1 {
  color: #1f2937;
}

.testimonial {
  background-color: #e5e7eb;
  margin: 4rem 0;
  text-align: center;
  padding: 4rem 12rem;
}
.testimonial h1 {
  color: #1f2937;
  padding: 10px;
}

.testimonial-footer {
  text-align: right;
}

p {
  font-weight: 600;
}
i {
  font-size: 36px;
  color: #1f2937;
  font-weight: bolder;
}

.callout {
  padding: 3rem 8rem;
  border-radius: 5px;
  background-color: #3882f6;
  margin: 4rem 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.callout--content {
  color: #fff;
}
.callout--content p {
  color: #e5e7eb;
}

.callout__heading {
  font-size: 24px;
}

.btn--callout {
  border: 2px solid #ebf5e1;
}

.footer__copyright {
  font-size: 14px;
  color: #f9faf8;
  text-align: center;
  background-color: #1f2937;
  padding: 1.6rem 0;
}
.footer__copyright a {
  color: #3882f6;
}
a {
  text-decoration: none;
}
a:hover {
  color: #fff;
}
